
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChemistLayout.cshtml";
}

<h2>CHEMIST PORTAL</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <!--First Button-->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Wmlz0imK_SPlIxwGoQo9YgHaFs?w=520&h=400&rs=1&pid=ImgDetMain" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">View Drug Request</h5>
                    <p class="card-text">View Drug Requests Made by Physician and Place Order to Restock Inventry.</p>
                    <a href=@Url.Action("ViewDrugRequests","Chemist") class="btn btn-primary">View Requests</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <!--Second Button-->
            <div class="card" style="width: 18rem;">
                <img src="~/img/Medicine.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Place Drug Order</h5>
                    <p class="card-text">Select Supplier and Place Order to Restock Inventry.</p>
                    <a href=@Url.Action("PlaceDrugOrder","Chemist") class="btn btn-primary">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</div>