<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 50px;
            margin: 0;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
            max-width: 400px;
            margin: auto;
        }

        h1 {
            color: #e74c3c;
        }

        p {
            color: #777;
        }

        img {
            width: 100%;
            max-width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <!--@ViewBag.errorInfo-->

    <div class="container">
        <img src="https://th.bing.com/th/id/R.d2fb85de1e0a39610c9f881e117b278c?rik=a3bIX7bTX3YbTg&riu=http%3a%2f%2fil2.picdn.net%2fshutterstock%2fvideos%2f7263244%2fthumb%2f1.jpg&ehk=o5d%2fwuP6%2fFm2hez8bhEi9iveMcf%2fQ0%2bySQZwquBjYZA%3d&risl=&pid=ImgRaw&r=0" alt="Forbidden Kitty Image">
        <h1>404 Not Found!</h1>
        <p>Oops! The page you are looking for might be unavailable or does not exist.</p>
    </div>
</body>
</html>
